@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <form id="paste-form" class="paste-form" method="POST" action="/Home/PostInput">
        <textarea id="paste-text-box" class="paste-form paste-text" name="PasteData" accept-charset="UTF-8"></textarea>
        <input type="submit" class="paste-form" name="submit"/>
    </form>
</div>

<div class="row">
</div>