@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <form id="paste-form" class="paste-form" method="POST">
        <input type="textarea" id="paste-text-box" class="paste-form"/>
        <input type="submit"/>
    </form>
</div>

<div class="row">
</div>